<header>
    <nav class="be-red white-letters large-padding nav-font">
        <ul class="no-list row center-xs middle-xs">
            <li class="col-md nav-space">
                <%= link_to root_path do %>
                    <%= image_tag("ic_home_white_18dp_2x.png") %><!-- , style:"margin-bottom:-10px; margin-top: -5px;"-->
                <%end%>
            </li>

            <li class="col-md nav-space">
                <%= link_to "TODOS", articles_path %>
            </li>

            <% @categories.each do |category| %>
                <li class="col-md nav-space">
                    <%= link_to category.name, category %>
                </li>
            <%end%>

            <!--SIDEBAR
            <div class="sidebar">
                <ul>
                    <h2>Menu</h2>
                    <li><a href="#">Ejemplo uno</a></li>
                    <li><a href="#">E jemplo dos</a></li>
                    <li><a href="#">Ejemplo tres</a></li>
                </ul>
            </div>

            <div class="contenido">
                <img src="/images/ic_menu.png" alt=""  class="menu-bar"/>
            </div>-->

            <% if user_signed_in? %>
                <li class="col-md nav-space">
                    <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete %>
                </li>
            <%end%>
        </ul>
    </nav>
</header>
